@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}
#login-form {
	margin:5% auto;
	max-width:500px;
}
/* home page */
#wrapper{
	padding-top:50px;
}
/*#face{position:absolute;top:0;left:172px;}*/
#face img{width:47px;height:47px;cursor:pointer;margin:20px 4px;opacity:0.5;filter:alpha(opacity=50);}
#face img:hover,#face img.current{width:47px;height:47px;border:1px solid #f60;opacity:1;filter:alpha(opacity=100);}

